/* CSS pour Main Article début */

.main_article{
    margin-left: 180px;
    margin-right: 180px;
}

.h1_article{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #d05270;
    padding-bottom: 10px;
}

.h2_article{
    color: #4d0fdf;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    padding-top: 15px;
}

.h3_article{
    color: #4d0fdf;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    padding-top: 30px;
}

.p_article{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.img_computer{
    width: 950px;
    height: 600px;
    margin-left: 180px;
}


/* CSS pour Main Article fin */

/* CSS pour Propos Article début */

.h1_propos{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #d05270;
}

.p_propos{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    width: 360px;
}

.illustration_img{
    width: 200px;
    height: 200px;
}

.medium_link, .linkedin_link, .twitter_link{
    width: 200px;
    height: 30px;
}

.bloc_text_img{
    width: 350px;
    height: 50px;
    margin-left: 180px;
    padding-top: 100px;
}

.begin_bloctext{
    display: grid;
    height: 140px;
    grid-template-columns: 400px 200px;
    gap: 80px;
}


.end_bloctext{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.twitter_link{
background-color: #47acdf;
}

.linkedin_link{
    background-color: #1275b1;
}

.medium_link{
background-color: black;
}

.imglog{
    padding-right: 10px;
    padding-top: 5px;
}

.linkendpage{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.foot{
    margin-bottom: 350px;
}



/* CSS pour Propos Article fin */


/* CSS pour NavBar  */
.containerNav {
    display: flex;
    justify-content: space-around;
    
}
.listNav{
    display: flex;
    align-items: center;
    
}

ul{
    display: flex;
    list-style: none;
    align-content: center;
    gap: 40px; 
}
li{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}


/* CSS pour page a propse de nous  */
body{
    font-family: 'Montserrat', sans-serif;
}
.containerPropse{
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}
.leftPropse {
    font-size: large;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: auto;
    height: 750px;
    text-align: center;
    width:auto;
    margin: 100px 50px;
    background-image:url(image-ordinateur.png);
    /* background-position-x: center; */
    /* background-position-y: center; */
    


}

.rightPropse {
    text-align: center;
    background-image: url("illustration.png");
    transform-box:border-box;
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: auto;
    height: auto;
    margin: 100px 50px;
}
.btn2{
    
    padding: 10px 50px;
    border-radius: 10px 20px;
}
.h2Propose {
    color: black;
}
/* CSS pour NavBar  */
.containerNav {
    display: flex;
    justify-content: space-around;
    
}
.listNav{
    display: flex;
    align-items: center;
    
}

ul{
    display: flex;
    list-style: none;
    align-content: center;
    gap: 40px; 
}
li{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

/* CSS pour page contact nous   */

.main{
    /* background-color: rgba(228, 8, 81, 0.712); */
    background-image: url("illustration.png");
    background-repeat:no-repeat;
    background-size: 1100px;
    background-position-x: right;
    background-position-y: center;
    text-align: center;
}
.topContact {
    padding: 20px;
    width: 400px;
    /* background-color:aliceblue; */
    width: auto;

}
.middleContact{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 20px;
    width: 200px;
    justify-content: space-between;
    /* background-color: rose */
    width: auto;
    align-items: center;
    gap: 20px;
}
.labelContact{
    font: 1.2em sans-serif;
    font-style: italic;
}
.inputContact{
    border: none;
    width: 150px;
    height: 40px;   
}
.name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.email{
    display: flex;
    align-items: center;
    gap: 10px;
}
.message{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: rgb(88, 159, 178);
    color: white;
    padding: 10px 50px;
    border-radius: 10px 20px;
    margin: 50px;
}


/* CSS pour page a propse de nous  */
.containerPropse{
    color: rgb(183, 71, 71);
    display: flex;
    justify-content: space-evenly;
}
.leftPropse {
    font-size: large;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: auto;
    height: 750px;
    text-align: center;
    width:auto;
    margin: 100px 50px;
    background-image:url(pexels-photo-2188870.webp);
    background-position-x: center; 
   background-position-y: center;
    align-items: center;
}
.hLeftPropos{
    color: black;
}

.p_proposD{
    margin: auto;
}

.rightPropse {
    text-align: center;
    background-image: url("illustration.png");
    transform-box:border-box;
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: auto;
    height: auto;
    margin: 100px 50px;
}


/* button in page propse de nous  */
.btn2{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
    border:none;
    padding:8px;
    font-size:20px;
    margin: 20px;
    color:black;
    font-family:cursive;
    box-sizing:border-box;
}

.h2Propose {
    margin: 10px;
    color: black;
}


/* css for page CV */

 .headCv {
    display: flex;
    background-color: antiquewhite;
    width: auto;
    height: 400px;
    justify-content: space-evenly;
}

.leftSideHeadCv{
    width: 30%;
}
.imgHeadCv{
    width: auto;
    height: 300px;
}
.imgSec{
    height: 60%;
    width: 70%;
}
.secCv{
    display: flex;
    justify-content: center;
    margin: 50px 300px;
    width: auto;
    
}
.lefSideSecCv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    
}
.rightSideSecCv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.pSecCv{
    width: 80%;
}

